[submodule "glucose"]
	path = glucose
	url = https://github.com/alexlegg/glucose.git
[submodule "periplo"]
	path = periplo
	url = https://github.com/alexlegg/periplo.git
[submodule "cudd"]
	path = cudd
	url = https://github.com/ivmai/cudd
[submodule "haskell_cudd"]
	path = haskell_cudd
	url = https://github.com/adamwalker/haskell_cudd.git
[submodule "syntcomp"]
	path = syntcomp
	url = https://github.com/alexlegg/syntcomp.git
