div.trace {
    border: 1px solid black;
    margin-left: 5px;
    padding: 10px;
}

.Existential {
    background: #8AACCC;
}

.Universal {
    background: #FF675E;
}

h3 {
    padding: 0;
    margin: 0;
}
